<style>
    img {
        width: 100%;
        height: auto;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default card-view">
        <div class="panel-heading">

            <div class="" ng-if="!viewDetails">
                <h6 class="panel-title txt-dark"></h6>
                <div class="  col-md-2   pull-right">    
                    <a ui-sref="app.newPost" ui-sref-active="active">
                        <button class="btn  btn-success">Post an ADD</button>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="panel-wrapper collapse in">
            <div class="panel-body">
                <div class="row" ng-if="!viewDetails">
                    <!--                    <div class="col-md-3 col-md-offset-1">
                                            <angucomplete-alt id="ex1"
                                                              placeholder="Location"
                                                              pause="100"
                                                              selected-object="selectedCountry"
                                                              local-data="countries"
                                                              search-fields="name"
                                                              title-field="name"
                                                              minlength="1"
                                                              input-class="form-control form-control-small"/>
                    
                                        </div>-->

                    <!--                    <div class="col-md-5">
                                            <angucomplete-alt id="ex2"
                                                              placeholder="Search Rental Adds"
                                                              pause="100"
                                                              selected-object="selectedCountry"
                                                              local-data="countries"
                                                              search-fields="name"
                                                              title-field="name"
                                                              minlength="1"
                                                              input-class="form-control form-control-small"/>
                    
                                        </div>-->
                    <div class="  col-md-2 ">    
                        <a ui-sref="app.home"><button  type="button" class="btn btn-default btn-outline btn-rounded"><i class="glyphicon glyphicon-chevron-left"></i>Return</button></a>
                    </div>

                </div >
                <div class="row" ng-if="!viewDetails">
                    <div class="col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12"style="margin-top: 40px;">
                        <table class=" product-overview mb-30 dataTable post-strips" id="datable_1" role="grid" >
                            <thead>

                            </thead>

                            <tbody>


                                <!--<div infinite-scroll="getPosts()">-->
                                <tr role="row" class="odd" style="height: 148px;" ng-repeat="post in posts">
                                    <td ng-click="ViewPostDetails($index)">
                                        <div class="col-md-12 ">
                                            <div ng-if="post.thumbnail" class="col-md-2">
                                                <img src="{{base_url + post.thumbnail}}" alt="Post Thumbnail" width="80" height="60">
                                            </div>

                                            <div ng-if="!post.thumbnail" class="col-md-2">
                                                <img src="assets/noImage.png" alt="Post Thumbnail" width="80" height="60">
                                            </div>

                                            <div class="col-md-4">
                                                {{post.title}}
                                            </div>

                                            <div class="col-md-offset-2 col-md-2">Charges/Day Rs {{post.charge_per_day}}</div> 
                                            <!--<div class="col-md-2"><button class="btn btn-info" ng-click="ViewPostDetails($index)">View Details</button></div>-->
                                            <div ng-if="post.post_category_id === '1'">
                                                <div class="col-md-10">{{post.manufacturer_name}} {{post.model_name}}</div>

                                                <div class="col-md-12 col-md-offset-2" >{{post.type}}»{{post.manufacturer_name}}</div>
                                            </div>
                                             <div ng-if="post.post_category_id === '2'">
                                                <div class="col-md-10">{{post.manufacturer}}</div>

                                                <div class="col-md-12 col-md-offset-2" >{{post.category}}»{{post.size}}</div>
                                            </div>
                                             <div ng-if="post.post_category_id === '4'">
                                                <!--<div class="col-md-10">{{post.category}}</div>-->

                                                <div class="col-md-12 col-md-offset-2" >{{post.material}}»{{post.type}}</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!--                                        <img src="http://localhost/rentalsystem/assets/sample.jpg" alt="iMac" width="80" height="40">
                                                                        </td>
                                                                        <td class="txt-dark sorting_1">{{post.title}} </td>
                                                                        <td class="txt-dark sorting_1">{{post.description}}</td>
                                                                            <td>{{post.city_name}}</td>-->

                                </tr>
                                <!--</div>-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="viewDetails">

                <div class="col-md-12">
                    <div class="panel panel-default border-panel card-view">
                        <div class="panel-heading">
                            <div class="pull-left ">
                                <button ng-click="back()" type="button" class="btn btn-default btn-outline btn-rounded"><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div>
                                    <h3>{{viewPost.title}}</h3>
                                    <div style="margin-top: 5px;margin-bottom: 13px;">
                                        <span class="glyphicon glyphicon-map-marker"></span><strong style=color: "#626262">{{viewPost.city_name}} {{viewPost.state_name}} | Posted on {{viewPost.created_on|date:'dd/MM/yyyy' }}</strong>
                                    </div>
                                </div>

                                <div  class="col-xs-8 col-xs-offset-1 minh-50">
                                    <div ng-if="viewPost.file_paths.length > 0">
                                        <ui-carousel 
                                            slides="viewPost.file_paths"
                                            slides-to-show="1"
                                            slides-to-scroll="1"
                                            initial-slide="1"
                                            autoplay="true"
                                            autoplay-speed="2000"
                                            dots="true"
                                            on-after-change="ctrl.onCarouselAfterChange(currentSlide)">

                                            <carousel-item>

                                                <img src="{{BASE_URL + item.file_path}}" alt="image" />
                                            </carousel-item>
                                        </ui-carousel>
                                    </div>
                                    <div ng-if="!viewPost.file_paths.length > 0" class=" col-xs-offset-1" id="post_img_replacement_div">
                                        <img id="post_subs_img" src="assets/noImage.svg" alt="NO Image Available">

                                        <h3 id="noImg-msg" class=" col-xs-offset-1">No Image Avilable</h3>
                                    </div>
                                    <div ng-if="viewPost.post_category_id === '1'">
                                        <div class="col-xs-6"><p>Manufacturer:</p> <h6>{{viewPost.manufacturer_name}}</h6></div>
                                        <div class="col-xs-6"> <p>Model:</p> <h6>{{viewPost.model_name}}</h6></div>
                                        <div class="col-xs-6"> <p>Vehicle Type </p> <h6>{{viewPost.type}}</h6></div>
                                        <div class="col-xs-6"> <p>Mileage:</p> <h6>{{viewPost.milage}}</h6></div>

                                    </div>
                                    <div ng-if="viewPost.post_category_id ==='2'">
                                        <div class="col-xs-6"><p>category:</p> <h6>{{viewPost.category}}</h6></div>
                                        <div class="col-xs-6"> <p>Size</p> <h6>{{viewPost.size}}</h6></div>
                                        <div class="col-xs-6"> <p>Manufacturer Type</p> <h6>{{viewPost.manufacturer}}</h6></div>


                                    </div>
                                    <div ng-if="viewPost.post_category_id ==='4'">
                                        <div class="col-xs-6"><p>Material</p> <h6>{{viewPost.material}}</h6></div>
                                        <div class="col-xs-6"> <p>Furniture Type</p> <h6>{{viewPost.type}}</h6></div>
                                        <div class="col-xs-6"> <p>For use in </p> <h6>{{viewPost.category}}</h6></div>


                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div id="ChargesTag"> <p id="tag-key">  Charges/day <span id="tag-value"> ₹ {{viewPost.charge_per_day}} </span></p>
                                    </div>
                                    
                                </div>
                                <div id="avilTag" class="col-xs-3"> <span class="glyphicon glyphicon-time"></span> Availability For <span> {{viewPost.availability_duration}} Days</span> </div>
                                <div class="col-xs-3">
                                    <div id="usr-box" class="panel panel-default card-view">
                                        <div class="post-userbox">
                                            <p >Posted By:</p>
                                            <div id='posted_by'>
                                                <img class="post-User-info col-xs-4" src="assets/images/user.svg" alt="No User Image" >
                                                <h6 class="panel-title txt-dark">{{viewPost.post_by}}</h6>
                                            </div>
                                            <p class='heading'>Contact Number:</p>
                                            <h6 class="panel-title txt-dark">{{viewPost.contact_number}}</h6>
                                            <p class='heading'>Email Address:</p>
                                            <h6 class="panel-title txt-dark">{{viewPost.email_id}}</h6>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-wrapper collapse in">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>					
            </div>

        </div>
    </div>

